.input-group{

    justify-content: center;

}

.input-group-text{

    background-color: #E080A5;
    color: #ffffff;
    border: solid 0.15rem #ffffff;
    justify-content: center;

}

.button-svg{

    background-color: #E080A5;
    color: #ffffff;
    border: solid 0.15rem #ffffff;
    border-radius: 1rem;
    justify-content: center;
    padding: 0.1rem;

}

.userText{

    border-radius: 1rem;
    border: 0.2rem solid #ffffff;
    background-color: #f4a5c4;
    color: #ffffff;
    resize: none;

}